{% extends 'SiescWebBundle::base.html.twig' %}

{% block page_title %}
Crear nuevo Cargo
{% endblock %}

{% block current_breadcrumb %}
<li>
    <span>Admin</span>
</li>
<li>
    <a href="{{ path('partes_cargo') }}">Cargo</a>
</li>
<li>
    <a href="{{ path('partes_cargo_new') }}">Nuevo</a>
</li>
{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">Crear nuevo Cargo</header>
                <div class="panel-body">
                    <form action="{{ path('partes_cargo_new') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                        <fieldset>
                            {{ form_widget(form) }}
                        </fieldset>
                        {{ form_rest(form) }}
                        {{ create() }}
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

