<section class="panel">
    <header class="panel-heading">
        <i class="icon-paragraph-justify2"></i>Detalles del Colegio
    </header>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>                <tr>
                    <th>Nombre</th><td>{{ siesc_crud_property(entity,"nombre") }}</td>
                </tr>                <tr>
                    <th>Codigo</th><td>{{ siesc_crud_property(entity,"codigo") }}</td>
                </tr>                <tr>
                    <th>Porcentajeaporteestatal</th><td>{{ siesc_crud_property(entity,"porcentajeAporteEstatal") }}</td>
                </tr>                <tr>
                    <th>Telefono</th><td>{{ siesc_crud_property(entity,"telefono") }}</td>
                </tr>                <tr>
                    <th>Cuit</th><td>{{ siesc_crud_property(entity,"cuit") }}</td>
                </tr>                <tr>
                    <th>Distrito</th><td>{{ siesc_crud_property(entity,"distrito") }}</td>
                </tr>                <tr>
                    <th>Funcion</th><td>{{ siesc_crud_property(entity,"funcion") }}</td>
                </tr>                <tr>
                    <th>Direccion</th><td>{{ siesc_crud_property(entity,"direccion") }}</td>
                </tr>            </tbody>
        </table>
    </div>
</section>