{% extends 'SiescWebBundle::base.html.twig' %}
{% from 'SiescWebBundle:Macros:form_actions.html.twig' import update %}

{% block page_title %}
    Editar Funcion: "{{ entity }}"
{% endblock %}

{% block current_breadcrumb %}
    <li>
        <span>Admin</span>
    </li>
    <li>
        <a href="{{ path('data_app_funcion') }}">Funcion</a>
    </li>
    <li>
        <a href="{{ path('data_app_funcion_edit', {'id': entity.id}) }}">Editar</a>
    </li>
{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">Editar Funcion: "{{ entity }}"</header>
                <div class="panel-body">
                    <form action="{{ path('data_app_funcion_edit', {'id': entity.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                        <fieldset>
                            {{ form_widget(form) }}
                        </fieldset>
                        {{ form_rest(form) }}
                        {{ update() }}
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

