<section class="panel">
    <header class="panel-heading">
        <i class="icon-paragraph-justify2"></i>Detalles del Categoria
    </header>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>                <tr>
                    <th>Nombre</th><td>{{ siesc_crud_property(entity,"nombre") }}</td>
                </tr>                <tr>
                    <th>Codigo</th><td>{{ siesc_crud_property(entity,"codigo") }}</td>
                </tr>                <tr>
                    <th>Requierehoras</th><td>{{ siesc_crud_property(entity,"requiereHoras") }}</td>
                </tr>                <tr>
                    <th>Topehoras</th><td>{{ siesc_crud_property(entity,"topeHoras") }}</td>
                </tr>                <tr>
                    <th>Requiereasignatura</th><td>{{ siesc_crud_property(entity,"requiereAsignatura") }}</td>
                </tr>                <tr>
                    <th>Funcion</th><td>{{ siesc_crud_property(entity,"funcion") }}</td>
                </tr>            </tbody>
        </table>
    </div>
</section>