{% extends 'SiescWebBundle::base.html.twig' %}
{% from 'SiescWebBundle:Macros:form_actions.html.twig' import create %}

{% block page_title %}
    Importar docentes
{% endblock %}

{% block current_breadcrumb %}
    <li>
        <span>Admin</span>
    </li>
    <li>
        <a href="{{ path('data_app_docente') }}">Docente</a>
    </li>
    <li>
        <a href="{{ path('data_app_docente_new') }}">Importar</a>
    </li>
{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">Importar Docentes desde archivo CSV</header>
                <div class="panel-body">
                    <p class="text-right">
                        <a href="#" class="btn btn-info">
                            <i class="icon-file-download"></i> Bajar Archivo Modelo para cargar datos
                        </a>
                    </p>
                    <form action="{{ path('data_app_docente_import') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                        <fieldset>
                            {{ form_widget(form) }}
                        </fieldset>
                        {{ form_rest(form) }}
                        {{ create() }}
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}