{% from 'SiescWebBundle:Macros:form_actions.html.twig' import update %}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">Editar Docente: "{{ entity }}"</header>
            <div class="panel-body">
                <form action="{{ path('siesc_docente_edit', {'id': entity.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                    <fieldset>
                        {{ form_widget(form) }}
                    </fieldset>
                    {{ form_rest(form) }}
                    {{ update() }}
                </form>
            </div>
        </section>
    </div>
</div>
<ul class="record_actions">
    <li>
        <a href="{{ path('siesc_user_index') }}">
            Back to the list
        </a>
    </li>
</ul>