{% extends '@SiescWeb/base_admin.html.twig' %}

{% block page_title %}
    Staff Administrativo
{% endblock %}

{% block page_breadcrumb %}
    <li>Staff Administrativo</li>
{% endblock %}


{% block content %}

    {% embed '@SiescAdmin/Widget/admin_index.html.twig' %}
        {% block portlet_title %}
            Staff Administrativo
        {% endblock %}
        {% block portlet_actions %}
            <a href="{{ path('siesc_docente_new') }}" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Agregar
            </a>
        {% endblock %}
        {% block portlet_table %}
            <table class="records_list table table-bordered">
                <thead>
                    <tr>
                        <th>Cuil</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Instituciones</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                {% for docente in docentes %}
                    <tr>
                        <td>{{ docente.cuil }}</td>
                        <td>{{ docente.nombre }}</td>
                        <td>{{ docente.apellido }}</td>
                        <td>-</td>
                        <td>
                            <a href="{{ path('siesc_docente_show', { 'id': docente.id }) }}" class="btn btn-xs green">Ver</a>
                            <a href="{{ path('siesc_docente_edit', { 'id': docente.id }) }}" class="btn btn-xs yellow">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}