<div class="row">
    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    Staff Administrativo
                </div>
            </div>
            <div class="portlet-body">
                <div class="alert alert-info">
                    <i class="fa fa-warning"></i> Solo se muestran los usuarios que sean Nivel 2 o superior (Administradores, Representante Legal o Liquidadores)
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cuil</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for docente in docentes %}
                        {% set user = docente.user %}
                        <tr>
                            <td>#{{ user.id }}</td>
                            <td>{{ user.cuil }}</td>
                            <td>{{ user.nombre }}</td>
                            <td>{{ user.apellido }}</td>
                            <td>{{ user.telefono }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
