{% extends '@SiescWeb/base_admin.html.twig' %}

{% block page_title %}
Instituciones
{% endblock %}

{% block page_breadcrumb %}
    <li>Instituciones</li>
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">Instituciones</div>
            <div class="actions">
                <a href="{{ path('siesc_tenant_new') }}" class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i> Agregar
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <table class="records_list table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Sub-domain</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('siesc_tenant_show', { 'id': entity.id }) }}">#{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.subdomain }}</td>
                            <td>
                                <a href="{{ path('siesc_tenant_show', { 'id': entity.id }) }}" class="btn green btn-xs ">
                                    Ver </a>
                                <a href="{{ path('siesc_tenant_edit', { 'id': entity.id }) }}" class="btn yellow btn-xs">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}