{% extends '@SiescWeb/base_admin.html.twig' %}

{% block page_title %}
Institucion: "{{ entity.name}}"
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <a href="{{ path('siesc_tenant') }}">Instituciones</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        Detalle
    </li>
{% endblock %}

{% block content %}
    {% embed '@SiescAdmin/Widget/admin_show.html.twig' %}
        {% block title %}
            {{ entity.name }}
        {% endblock %}
        {% block acciones %}
            <li>
                <a href="{{ path('siesc_tenant_edit', {'id': entity.id}) }}">
                    <i class="fa fa-pencil"></i> Editar
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-trash"></i> Eliminar <span class="label label-danger label-sm">Peligroso </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-barcode"></i> Imprimir / Enviar Factura </a>
            </li>
        {% endblock %}
        {% block tabs %}
            <li class="active">
                <a href="#tab1" data-toggle="tab">Detalles</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Staff Administrativo</a>
            </li>
            <li>
                <a href="#tab3" data-toggle="tab">Docentes</a>
            </li>
            <li>
                <a href="#tab4" data-toggle="tab">Alumnos</a>
            </li>
            <li>
                <a href="#tab5" data-toggle="tab">Historial</a>
            </li>
        {% endblock %}
        {% block tabs_content %}
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="col-md-6">
                        {% embed '@SiescAdmin/Widget/admin_show_portlet.html.twig' %}
                            {% block portlet_title %}
                                <i class="fa fa-cogs"></i> Informacion
                            {% endblock %}
                            {% block portlet_actions %}
                                <a href="{{ path('siesc_tenant_edit', {'id': entity.id}) }}" class="btn btn-default btn-sm">
                                    <i class="fa fa-pencil"></i> Editar
                                </a>
                            {% endblock %}
                            {% block portlet_body %}
                                {% set rows = {
                                'Nombre': entity.name,
                                'URL': '<a href="http://' ~ entity.subdomain ~'.siesc.com.ar">' ~ entity.subdomain ~'.siesc.com.ar</a>',
                                'Contacto': entity.contactName,
                                'Email': entity.contactEmail,
                                'Telefono de Contacto': entity.contactPhone
                                } %}
                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    </div>
                    <div class="col-md-6">
                        {% embed '@SiescAdmin/Widget/admin_show_portlet.html.twig' %}
                            {% block portlet_title %}
                                Detalles de Facturacion
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                {{ render(controller('SiescAdminBundle:Tenant:userTenant', {'id': entity.id})) }}
            </div>
            <div class="tab-pane" id="tab3">
                {{ render(controller('SiescAdminBundle:Tenant:docentes', {'id': entity.id})) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}