{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-warning">{{ flashMessage }}</div>
{% endfor %}  
<h2>Organización: {{tenant.name}}</h2>
<h2>Listado de Usuarios en la organización</h2>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cuil</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user_tenant %}
            <tr>
                <td>#{{ user.id }}</td>
                <td>{{ user.cuil }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td>{{ user.telefono }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('siesc_tenant_delete_user_tenant',{'id_tenant': tenant.id, 'id_user':user.id}) }}">Eliminar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
<h2>Listado de Usuarios</h2>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cuil</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user_not_tenat %}
            <tr>
                <td>#{{ user.id }}</td>
                <td>{{ user.cuil }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellido }}</td>
                <td>{{ user.telefono }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('siesc_tenant_add_user_tenant',{'id_tenant': tenant.id, 'id_user':user.id}) }}">Agregar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>        
<ul class="record_actions">
    <li>
        <a href="{{ path('siesc_tenant') }}">
            Back to the list
        </a>
    </li>
</ul>